:root {
  --color-black: #000000;
  --color-primary: #34547a;
  --color-secondary: #727272;
  --color-gray-light: #edeef0;
  --color-white: #ffffff;

  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --font-weight: 400;

  --letter-spacing: 0.1em;

  --line-height: 1.64;
  --line-height-sm: 1.4;

  --container-primary: 1110px;
  --container-secondary: 540px;

  --gap: 20px;
  --gap-sm: calc(var(--gap) * 0.5); /* 10px */
  --gap-lg: calc(var(--gap) * 1.5); /* 30px */
  --gap-xl: calc(var(--gap) * 2); /* 40px */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: var(--line-height-sm);
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: var(--line-height-sm);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.container {
  width: min(100% - var(--gap-xl), var(--container-primary));
  margin-inline: auto;
}

.container-sm {
  width: min(100% - var(--gap-xl), var(--container-secondary));
  margin-inline: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: var(--color-gray-light);
  padding-top: 69px;
  padding-bottom: 141px;
}

.navbar {
  margin-bottom: 141px;
}

.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-left: -0.75em;
}

.navbar__link {
  letter-spacing: var(--letter-spacing);
  padding: 0.5em 0.75em;
  text-transform: uppercase;
  display: block;
}

.navbar__link--active {
  color: var(--color-primary);
  font-weight: 500;
}

.hero {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 40px;
}

.hero__description {
  margin-bottom: 57px;
  color: var(--color-secondary);
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
  min-height: 65px;
  text-transform: uppercase;
  padding: 0.5em;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.about {
  background-color: var(--color-white);
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.section__title {
  margin-bottom: 36px;
}

.section_description {
  color: var(--color-secondary);
}

.expirience {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.expirience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.expirience__item {
  display: flex;
  gap: var(--gap);
}

.expirience__item-picture {
  order: -1;
}

.expirience__item-number {
  font-size: 1.3rem;
  font-weight: 500;
}

.epirience__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1;
}

.expirience__item-image {
  display: block;
}

.process {
  background-color: var(--color-gray-light);
  padding-bottom: 57px;
}

.video {
  background-color: var(--color-gray-light);
  padding-bottom: 100px;
}

.video__iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border: 0;
  min-height: 200px;
  display: block;
}

.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__title {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer__description {
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  .container {
    width: calc(100% - var(--gap-xl)*3);
  }

  .expirience__container {
    justify-content: space-around;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 2.7rem;
  }
  
  h2 {
    font-size: 1.7rem;
  }

  .expirience__container {
    gap: 150px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
  
  h2 {
    font-size: 1.4rem;
  }
}